@import url("https://fonts.googleapis.com/css?family=Lato:400,700|Oswald:400,700&display=swap");
.header {
  position: absolute;
  width: 100%;
  left: 0;
  right: 0;
  z-index: 10;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s; }
  @media screen and (min-width: 320px) and (max-width: 768px) {
    .header .container {
      max-width: 100%;
      padding: 0px; } }

.nav-link {
  color: #373940;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
  text-transform: uppercase;
  text-decoration: none; }

.nav-link:hover {
  color: #f97a2e;
  text-decoration: none; }

.wrap-main-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 13px;
  font-weight: 600;
  font-family: "Montserrat", sans-serif;
  position: relative; }
  @media screen and (max-width: 768px) {
    .wrap-main-nav {
      padding: 10px 0;
      background: #fff; } }

.main-nav {
  width: 100%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
  grid-template-columns: 1fr;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s; }

.header.navShadow {
  background: #fff; }

.header.navShadow .word-mark {
  opacity: 0; }

.brand,
.menu,
.list-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  list-style: none; }

.list-menu {
  background: #fff;
  margin-bottom: 6rem; }
  @media screen and (max-width: 1440px) {
    .list-menu {
      margin-bottom: 150px;
      padding-left: 100px; } }
  @media screen and (max-width: 1024px) {
    .list-menu {
      margin-bottom: 20px; } }
  @media screen and (min-width: 320px) and (max-width: 768px) {
    .list-menu {
      margin-bottom: 0px;
      padding-left: 20px; } }

.brand {
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end; }

.logo {
  cursor: pointer;
  margin-top: 60px; }
  @media screen and (max-width: 768px) {
    .logo {
      margin-top: 20px;
      padding-bottom: 10px;
      margin-left: 20px; } }

.menu {
  position: absolute;
  top: 0;
  left: 0;
  -webkit-transform: rotate(-90deg) translate(-375px, -370px);
  -ms-transform: rotate(-90deg) translate(-375px, -370px);
  transform: rotate(-90deg) translate(-375px, -370px); }
  @media screen and (max-width: 1440px) {
    .menu {
      top: -80px;
      left: 40px; } }

.list-menu-item {
  margin-left: 10px; }
  @media screen and (max-width: 1440px) {
    .list-menu-item .nav-link {
      font-size: 0.7rem; } }

.menu-toggle {
  width: 55px;
  height: 55px;
  background: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  border-radius: 50%;
  cursor: pointer;
  display: none;
  margin-right: 10px; }

.menu-toggle:hover .bar {
  width: 25px; }

.menu-toggle.closeMenu .bar {
  width: 25px; }

.menu-toggle.closeMenu .bar:first-child {
  -webkit-transform: translateY(7px) rotate(45deg);
  -ms-transform: translateY(7px) rotate(45deg);
  transform: translateY(7px) rotate(45deg); }

.menu-toggle.closeMenu .bar:nth-child(2) {
  -webkit-transform: scale(0);
  -ms-transform: scale(0);
  transform: scale(0); }

.menu-toggle.closeMenu .bar:last-child {
  -webkit-transform: translateY(-7px) rotate(-45deg);
  -ms-transform: translateY(-7px) rotate(-45deg);
  transform: translateY(-7px) rotate(-45deg); }

.bar {
  width: 25px;
  height: 2px;
  background: #000;
  -webkit-transition: 0.3s ease-in-out;
  -o-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out; }

.bar:nth-child(2) {
  width: 20px;
  margin: 5px 0; }

.bar:last-child {
  width: 15px; }

@media screen and (max-width: 992px) {
  .main-nav {
    -ms-grid-columns: 1fr 1fr;
    grid-template-columns: 1fr 1fr; }
  .list-menu-right {
    margin: 0 auto; }
  .menu-toggle {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }
  .closeMenu {
    z-index: 2;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-top: 20px;
    background: #f0b163;
    color: #fff;
    -webkit-box-shadow: 4px 4px 15px rgba(55, 57, 64, 0.3);
    box-shadow: 4px 4px 15px rgba(55, 57, 64, 0.3); }
  .list-menu {
    display: inline-block;
    width: 100%;
    height: 0;
    left: 0;
    right: 0;
    z-index: 1;
    background: #fff;
    position: fixed;
    top: 0px;
    -webkit-box-shadow: 0 5px 30px -4px rgba(0, 0, 0, 0.2);
    box-shadow: 0 5px 30px -4px rgba(0, 0, 0, 0.2);
    -webkit-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s; }
  .list-menu.showMenu {
    padding-top: 100px;
    height: 100vh; }
    .list-menu.showMenu .list-menu-item {
      text-align: left;
      padding-left: 10px;
      opacity: 1;
      visibility: visible; }
  .list-menu-item {
    text-align: center;
    margin-left: 0;
    padding: 16px 0;
    opacity: 0;
    visibility: hidden;
    -webkit-transition: all 0.3s 0.1s;
    -o-transition: all 0.3s 0.1s;
    transition: all 0.3s 0.1s; }
  .nav-link:hover:after, .nav-link:hover:before {
    display: none; }
  .header {
    position: fixed; }
  .brand {
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start; }
  .menu {
    position: relative;
    top: auto;
    left: auto;
    -webkit-transform: none;
    -ms-transform: none;
    transform: none;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    -webkit-box-ordinal-group: 3;
    -ms-flex-order: 2;
    order: 2; } }

/*---------- menu link animation ----------*/
.nav-link {
  display: block;
  position: relative;
  -webkit-transition: color 0.3s ease;
  -o-transition: color 0.3s ease;
  transition: color 0.3s ease;
  font-weight: 700;
  color: #787878; }
  .nav-link:after {
    content: "";
    position: absolute;
    bottom: 0;
    right: 0;
    left: auto;
    width: 0;
    height: 7px;
    z-index: 1; }
  .nav-link:before {
    content: "";
    position: absolute;
    bottom: 0;
    right: 0;
    left: auto;
    width: 0;
    height: 7px;
    z-index: 1;
    background-color: #fff;
    -webkit-transition: all 0.25s cubic-bezier(0.694, 0.048, 0.335, 1) 0.15s;
    -o-transition: all 0.25s cubic-bezier(0.694, 0.048, 0.335, 1) 0.15s;
    transition: all 0.25s cubic-bezier(0.694, 0.048, 0.335, 1) 0.15s; }
  .nav-link:after {
    background-color: #f97a2e;
    -webkit-transition: all 0.25s cubic-bezier(0.694, 0.048, 0.335, 1);
    -o-transition: all 0.25s cubic-bezier(0.694, 0.048, 0.335, 1);
    transition: all 0.25s cubic-bezier(0.694, 0.048, 0.335, 1); }
  .nav-link:hover {
    text-decoration: none;
    color: #000; }
    .nav-link:hover:after, .nav-link:hover:before {
      width: 100%;
      left: 0; }

/*---------- end of menu link animation ----------*/
.offer-bg {
  background: url(../img/main.jpg) no-repeat;
  background-size: cover;
  max-width: 100%;
  min-height: 100vh; }

.name-mobile {
  position: absolute;
  top: 150px;
  max-width: 145px; }
  .name-mobile p {
    font-family: "Oswald", sans-serif;
    font-weight: 700;
    font-size: 36px; }
  .name-mobile--surname {
    margin-top: 10px;
    margin-left: 30px; }

.wrap-name {
  position: absolute;
  top: 25%;
  left: -90px; }
  @media screen and (max-width: 1440px) {
    .wrap-name {
      top: 20%; } }
  .wrap-name .offer-welcome {
    font-family: "Oswald";
    font-weight: 700;
    font-size: 72px;
    margin-bottom: 40px;
    color: #ffffff;
    text-shadow: #333333 -1px 1px 2px; }
    @media screen and (max-width: 1024px) {
      .wrap-name .offer-welcome {
        font-size: 4rem; } }
  .wrap-name .offer-name {
    font-weight: 700;
    font-size: 72px;
    line-height: 98px;
    color: #373940; }
    @media screen and (max-width: 1024px) {
      .wrap-name .offer-name {
        font-size: 4rem; } }

@media screen and (min-width: 320px) and (max-width: 768px) {
  .wrap-name {
    top: 15%;
    left: 3%; }
    .wrap-name .offer-welcome {
      color: #373940;
      text-shadow: none;
      font-size: 1.875rem;
      margin-bottom: 0px; }
    .wrap-name .offer-name {
      font-size: 1.875rem; }
  .offer-info .wrap-text {
    margin-top: 50%; }
    .offer-info .wrap-text .offer-dev {
      margin-left: 20px;
      font-size: 0.875rem; }
    .offer-info .wrap-text .offer-descr {
      font-size: 0.75rem;
      letter-spacing: 0.075em; }
  .offer-info .wrap-social {
    margin-top: 80px; }
    .offer-info .wrap-social i {
      font-size: 32px; } }

.wrap-text {
  margin-top: 90%; }
  @media screen and (max-width: 1440px) {
    .wrap-text {
      margin-top: 70%; } }
  .wrap-text .offer-dev {
    text-transform: uppercase;
    font-weight: 700;
    font-size: 1.125rem;
    margin-left: 100px;
    letter-spacing: 0.25em;
    color: #000000; }
    @media screen and (max-width: 1024px) {
      .wrap-text .offer-dev {
        font-size: 1rem; } }
  .wrap-text .offer-descr {
    font-weight: 700;
    font-size: 1.125rem;
    margin-top: 10%;
    line-height: 1.7em;
    letter-spacing: 0.046em;
    margin-bottom: 44px;
    padding: 0 0px 0 4px; }
    @media screen and (max-width: 1440px) {
      .wrap-text .offer-descr {
        font-size: 1rem;
        margin-top: 10%; } }

.offer-btn {
  margin-left: 3px;
  letter-spacing: 0.25em; }

.wrap-social {
  margin-top: 30px;
  margin-left: 5px; }
  .wrap-social i {
    margin-right: 22px;
    font-size: 32px;
    color: rgba(55, 57, 64, 0.75); }
    .wrap-social i:hover {
      color: #333333; }

.scroll {
  position: absolute;
  bottom: 2%;
  right: 40px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  color: #373940; }
  .scroll .scroll-svg {
    padding-right: 20px;
    margin-bottom: 15px; }
  @media screen and (max-width: 1440px) {
    .scroll {
      margin-top: -85px; } }
  @media screen and (min-width: 320px) and (max-width: 650px) {
    .scroll {
      display: block;
      right: 75%; } }

.bounce {
  -webkit-animation: bounce 2s infinite;
  animation: bounce 2s infinite; }

/* Scroll down indicator (bouncing) */
@-webkit-keyframes bounce {
  0%,
  20%,
  50%,
  80%,
  100% {
    -webkit-transform: translateY(0); }
  40% {
    -webkit-transform: translateY(-30px); }
  60% {
    -webkit-transform: translateY(-15px); } }

@-moz-keyframes bounce {
  0%,
  20%,
  50%,
  80%,
  100% {
    -moz-transform: translateY(0); }
  40% {
    -moz-transform: translateY(-30px); }
  60% {
    -moz-transform: translateY(-15px); } }

@keyframes bounce {
  0%,
  20%,
  50%,
  80%,
  100% {
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
    transform: translateY(0); }
  40% {
    -webkit-transform: translateY(-30px);
    -moz-transform: translateY(-30px);
    -ms-transform: translateY(-30px);
    -o-transform: translateY(-30px);
    transform: translateY(-30px); }
  60% {
    -webkit-transform: translateY(-15px);
    -moz-transform: translateY(-15px);
    -ms-transform: translateY(-15px);
    -o-transform: translateY(-15px);
    transform: translateY(-15px); } }

.skills-title {
  margin-bottom: 40px; }

.col-skill {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column; }

.skill-wrap {
  position: relative;
  margin: 0 auto; }

.skills svg {
  display: block;
  max-width: 150px; }

svg:not(:root) {
  overflow: hidden; }

.skill-progress {
  position: absolute;
  left: 50%;
  top: 50%;
  padding: 0px;
  margin: 0px;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  color: #333333;
  font-size: 2rem; }

.skill-name {
  font-size: 1.3rem;
  text-align: center;
  margin-top: 20px;
  color: #000;
  font-family: "Lato", sans-serif;
  font-weight: 700; }

@media screen and (min-width: 320px) and (max-width: 768px) {
  .col-skill {
    margin-bottom: 40px; }
  .skills svg {
    display: block;
    max-width: 120px; }
  .skill-progress {
    font-size: 1.5rem; }
  .skill-foundation {
    display: block; } }

.services {
  background-color: rgba(209, 212, 215, 0.75);
  padding: 45px 0 75px; }
  .services .services-title {
    margin-bottom: 70px; }

.service-item {
  border: 2px solid rgba(55, 57, 64, 0.5);
  width: 100%;
  background-color: #fff;
  height: 262px;
  text-align: center; }
  .service-item--icon {
    margin: 35px auto 20px; }
  .service-item--name {
    font-family: "Oswald", sans-serif;
    font-size: 36px;
    color: #373940;
    padding-bottom: 15px;
    margin: 0 auto;
    width: 85%;
    border-bottom: 6px solid #f0b163; }

@media screen and (min-width: 320px) and (max-width: 768px) {
  .services {
    background-color: white;
    padding: 0; }
    .services .services-title {
      margin-bottom: 30px; }
  .service-item {
    width: 50%;
    height: 154px;
    height: 90%;
    margin: 30px auto; }
    .service-item--icon {
      width: 20%;
      margin: 20px auto 10px; }
    .service-item--name {
      font-size: 24px; } }

.business-title {
  margin-bottom: 80px; }

.business-item {
  text-align: center; }
  .business-item img {
    margin: 0 auto 43px; }
  .business-item--title {
    font-family: 'Lato', sans-serif;
    font-weight: 700;
    font-size: 24px;
    color: #373940;
    margin-bottom: 11px; }
  .business-item--description {
    text-align: left; }

.cases::after {
  content: ""; }

.cases .cases-title:after {
  left: auto;
  right: 41.3%; }

.cases-title {
  margin-bottom: 55px; }

.carousel-inner {
  padding: 0 60px; }

.case-title {
  font-family: Lato, sans-serif;
  font-weight: 700;
  font-size: 24px;
  color: #373940;
  margin-bottom: 30px; }

.case-subtitle {
  font-size: 18px;
  font-weight: 700;
  margin-bottom: 55px; }

.case-description {
  width: 390px;
  margin-bottom: 80px; }

.button-case {
  letter-spacing: 0em;
  color: #373940; }

.carousel__img-wrap {
  border: 4px solid #f0b163;
  padding: 14px;
  position: relative;
  z-index: -1; }
  .carousel__img-wrap:before, .carousel__img-wrap:after {
    content: "";
    position: absolute;
    background: #fff;
    z-index: -2; }
  .carousel__img-wrap:before {
    left: 15%;
    right: -4px;
    top: -4px;
    bottom: 30%; }
  .carousel__img-wrap:after {
    left: -4px;
    right: 15%;
    top: 30%;
    bottom: -4px; }

.carousel .fas {
  font-size: 4rem;
  color: #787878; }

.carousel-control-prev {
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start; }

.carousel-control-next {
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end; }

.testimonials-title {
  padding-right: 35px;
  text-align: right; }

.testimonials-subtitle {
  margin-bottom: 70px; }

.testimonial-title {
  font-family: "Lato", sans-serif;
  font-weight: 700;
  font-size: 24px;
  color: #373940;
  margin-bottom: 15px; }

.testimonial-subtitle {
  font-size: 18px;
  font-weight: 700;
  margin-bottom: 35px; }

.testimonial-description {
  padding-right: 15px; }

.testimonials .carousel-item {
  -webkit-box-shadow: 0px 4px 25px rgba(120, 120, 120, 0.25);
  box-shadow: 0px 4px 25px rgba(120, 120, 120, 0.25);
  padding: 40px 30px 40px 35px; }

.contact {
  background: url(../img/cases/contact-bg.jpg) no-repeat center;
  margin-bottom: 0; }

.contact .contact-title {
  padding-top: 40px;
  margin-bottom: 36px;
  color: #373940; }
  .contact .contact-title::after {
    display: none; }

.contact-form {
  background-color: #fff;
  padding: 50px 80px;
  margin-bottom: 85px; }
  .contact-form input[name="name"] {
    margin-top: 0; }
  .contact-form .button-contact {
    padding: 15px 50px;
    line-height: 1;
    margin: 28px auto;
    color: #373940;
    z-index: 1;
    max-width: 200px; }

@media screen and (min-width: 320px) and (max-width: 768px) {
  .contact .contact-title {
    padding-top: 20px;
    margin-bottom: 20px; }
  .contact .contact-form {
    padding: 20px 40px; }
  .button-contact {
    padding: 15px 30px; } }

footer {
  margin-top: 35px; }
  footer .footer-navigation-title {
    font-family: "Lato", sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    color: #373940; }

.footer-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  padding: 0;
  margin-top: 20px;
  font-weight: 400; }
  .footer-menu--item {
    list-style-type: none;
    margin-top: 5px; }
    .footer-menu--item a {
      color: #373940;
      text-decoration: none; }

.wrap-contacts {
  font-family: "Lato", sans-serif;
  font-size: 14px;
  font-weight: 400; }
  .wrap-contacts .footer-name {
    margin-top: 25px;
    margin-bottom: 10px;
    font-weight: 400; }
  .wrap-contacts p {
    color: #373940; }
  .wrap-contacts a {
    text-decoration: none;
    color: #373940;
    display: block;
    margin-bottom: 10px; }
  .wrap-contacts .phone-icon {
    margin-left: 20px; }
    .wrap-contacts .phone-icon a {
      margin-bottom: 5px;
      margin-top: 4px; }
    .wrap-contacts .phone-icon i {
      font-size: 20px;
      margin-right: 15px; }

.footer-follow {
  margin: 25px 0px 40px;
  color: #373940; }

.footer-social i {
  margin-right: 15px;
  font-size: 32px;
  color: rgba(55, 57, 64, 0.75); }
  .footer-social i:hover {
    color: #333333; }

.copyright {
  margin-top: 50px;
  background-color: #373940;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }
  .copyright .copyright-text {
    font-size: 14px;
    line-height: 17px;
    color: #ffffff;
    padding: 15px;
    margin: 0 auto; }

@media screen and (min-width: 320px) and (max-width: 768px) {
  .footer .container {
    text-align: center; }
  .footer .footer-name {
    font-weight: 700; }
  .footer-social {
    margin-top: 20px; }
    .footer-social i {
      font-size: 40px; } }

body {
  font-family: "Lato", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  color: rgba(55, 57, 64, 0.75); }

/* Layout */
.ba-container {
  padding-left: 20px;
  padding-right: 20px;
  max-width: 1200px; }

.no-margin {
  margin-top: 0 !important; }

section {
  margin: 100px 0; }
  @media screen and (min-width: 320px) and (max-width: 768px) {
    section {
      margin: 70px 0; } }

.absolute {
  display: block;
  position: absolute; }

/* Typography */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Oswald", sans-serif; }

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0; }

.section-title {
  font-family: "Oswald", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  color: #787878;
  position: relative;
  padding-left: 20px;
  z-index: 2; }
  @media screen and (min-width: 320px) and (max-width: 768px) {
    .section-title {
      font-size: 24px; } }

.section-title:after {
  content: "";
  position: absolute;
  bottom: 4px;
  left: 0;
  width: 100px;
  height: 15px;
  background: #f0b163;
  z-index: -1; }
  @media screen and (min-width: 320px) and (max-width: 768px) {
    .section-title:after {
      width: 50px;
      height: 10px;
      bottom: 2px; } }

.section-title-reverse:after {
  left: auto;
  right: 0; }

.section-title-center:after {
  left: auto;
  right: 50.7%; }

.text,
p {
  font-family: "Lato", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 30px;
  color: rgba(55, 57, 64, 0.75); }

a,
input[type="submit"],
input[type="button"],
button {
  -webkit-transition: color 0.3s ease-in, border-color 0.3s ease-in, background-color 0.3s ease-in, opacity 0.3s ease-in;
  -o-transition: color 0.3s ease-in, border-color 0.3s ease-in, background-color 0.3s ease-in, opacity 0.3s ease-in;
  transition: color 0.3s ease-in, border-color 0.3s ease-in, background-color 0.3s ease-in, opacity 0.3s ease-in; }

input[type="submit"],
input[type="button"],
button,
.ba-button {
  font-weight: bold;
  display: inline-block;
  background: rgba(255, 255, 255, 0.4);
  border: 2px solid #f0b163;
  border: none;
  outline: none;
  background: transparent;
  padding: 9px 36px;
  line-height: 2;
  position: relative;
  cursor: pointer;
  overflow: hidden;
  -webkit-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s; }

input[type="submit"]:hover,
input[type="button"]:hover,
button:hover,
.ba-button:hover {
  color: white; }

/* //// Default effect: Slide from Top  //// */
.ba-button:before,
.ba-button:after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  height: 100%;
  border: 4px solid #f0b163;
  background: #f0b163;
  /* onhover background color */
  z-index: -1;
  -webkit-transform: translate3D(0, -100%, 0);
  -ms-transform: translate3D(0, -100%, 0);
  transform: translate3D(0, -100%, 0);
  /* move elements above button so they don't appear initially */
  -webkit-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s; }

.ba-button:before {
  background: rgba(255, 255, 255, 0.4);
  /* button default background color */
  z-index: -2;
  -webkit-transform: translate3D(0, 0, 0);
  -ms-transform: translate3D(0, 0, 0);
  transform: translate3D(0, 0, 0); }

.ba-button:hover:after {
  -webkit-transform: translate3D(0, 0, 0);
  -ms-transform: translate3D(0, 0, 0);
  transform: translate3D(0, 0, 0);
  -webkit-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s; }

/* //// Slide Left  //// */
.slideleft:after {
  top: 0;
  z-index: -1;
  -webkit-transform: translate3D(-101%, 0, 0);
  -ms-transform: translate3D(-101%, 0, 0);
  transform: translate3D(-101%, 0, 0); }

.slideleft:hover:after {
  -webkit-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s; }

input[type="text"],
input[type="email"],
input[type="password"],
input[type="number"],
input[type="tel"],
textarea,
select {
  -webkit-transition: color 0.3s ease-in, border-color 0.3s ease-in, background-color 0.3s ease-in, opacity 0.3s ease-in;
  -o-transition: color 0.3s ease-in, border-color 0.3s ease-in, background-color 0.3s ease-in, opacity 0.3s ease-in;
  transition: color 0.3s ease-in, border-color 0.3s ease-in, background-color 0.3s ease-in, opacity 0.3s ease-in;
  margin-top: 28px;
  padding: 12px 0 12px 18px;
  font-size: 12px;
  font-family: Lato;
  font-weight: normal;
  border-radius: 0; }
  @media screen and (min-width: 320px) and (max-width: 768px) {
    input[type="text"],
    input[type="email"],
    input[type="password"],
    input[type="number"],
    input[type="tel"],
    textarea,
    select {
      margin-top: 15px;
      padding: 10px 0 10px 10px; } }

.about-wrap-text {
  padding: 30px 0px 0 0px; }
  .about-wrap-text .about-text {
    margin-bottom: 30px; }
    .about-wrap-text .about-text:last-child {
      margin-bottom: 0; }

.resume-btn {
  padding: 10px 15px;
  line-height: 17px;
  letter-spacing: 0;
  margin-top: 65px;
  margin-left: 25%; }
  .resume-btn i {
    padding-left: 15px; }

.about-photo {
  background: url(../img/me.jpg) no-repeat center;
  max-width: 100%;
  background-size: initial; }

.skills .section-title {
  text-align: right;
  padding-right: 22px; }

/*# sourceMappingURL=style.css.map */