.cases .container {
  position: relative;
}

.cases .container::after {
  position: absolute;
  bottom: -45px;
  right: -80px;
  left: -130px;
  content: "";
  border: 1px solid #F0B163;
  height: calc(100% + 4rem);
  z-index: -1;
}
.cases .container::before {
  position: absolute;
  bottom: -25px;
  right: -50px;
  left: -180px;
  content: "";
  border: 1px solid #D1D4D7;
  height: calc(100% + 4rem);
  z-index: -1;
}

.cases .cases-title:after {
  left: auto;
  right: 41.3%;
}
.cases-title {
  margin-bottom: 55px;
}
.carousel-inner {
  padding: 0 60px;
}
.case-title {
  font-family: Lato, sans-serif;
  font-weight: 700;
  font-size: 24px;
  color: rgb(55, 57, 64);
  margin-bottom: 30px;
}
.case-subtitle {
  font-size: 18px;
  font-weight: 700;
  margin-bottom: 55px;
}
.case-description {
  width: 390px;
  margin-bottom: 80px;
}
.button-case {
  letter-spacing: 0em;
  color: #373940;
}
.carousel__img-wrap {
  border: 4px solid #f0b163;
  padding: 14px;
  position: relative;
  z-index: -1;
  &:before,
  &:after {
    content: "";
    position: absolute;
    background: #fff;
    z-index: -2;
  }
  &:before {
    left: 15%;
    right: -4px;
    top: -4px;
    bottom: 30%;
  }
  &:after {
    left: -4px;
    right: 15%;
    top: 30%;
    bottom: -4px;
  }
}
.carousel .fas {
  font-size: 4rem;
  color: #787878;
}
.carousel-control-prev {
  justify-content: flex-start;
}
.carousel-control-next {
  justify-content: flex-end;
  // right: -10%;
}

@media screen and (min-width: 320px) and (max-width: 768px) {
  .carousel__img-wrap {
    border: none;
    &:before,
    &:after {
      display: none;
    }
  }
  .case-title {
    font-size: 1.25rem;
    margin-bottom: 10px;
  }
  .case-subtitle {
    font-size: 0.9rem;
    margin-bottom: 10px;
  }
  .case-title,
  .case-subtitle {
    text-align: center;
  }
  .case-description {
    display: none;
  }
  .button-case {
    text-align: center;
    margin: 5px auto;
  }
}
