.testimonials-title {
  padding-right: 35px;
  text-align: right;
}
.testimonials-subtitle {
  margin-bottom: 70px;
}
.testimonial-title {
  font-family: "Lato", sans-serif;
  font-weight: 700;
  font-size: 24px;
  color: rgb(55, 57, 64);
  margin-bottom: 15px;
}
.testimonial-subtitle {
  font-size: 18px;
  font-weight: 700;
  margin-bottom: 35px;
}

.testimonial-description {
  padding-right: 15px;
}

.testimonials .carousel-item {
  box-shadow: 0px 4px 25px rgba(120, 120, 120, 0.25);
  padding: 40px 30px 40px 35px;
}
